.userCard {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  min-width: 282px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch; // Flex-items will be stretch on 100% of parent element
  text-align: center;
  
  background-color: #FFFFFF;
  border-radius: 10px;
  white-space: nowrap; // Text won't be wrap. It stay in one line.

  &__photo {
    width: 70px;
    height: 70px;
    align-self: center;

    background-image: url('../../images/user.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &__text {
    height: 26px;
    position: relative;

    overflow: hidden; // All text wich beyond element will be hidden
    text-overflow: ellipsis; // All hidden overflow text will be replaced by '...'
                              // it doesn't work without overflow: hidden and white-space: nowrap
    &::after {
      padding: 3px 16px;
      display: none;
      content: attr(data-title);
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      width: max-content;
      color: #FFFFFF;
      background: rgba(0, 0, 0, 0.87);
      border-radius: 4px;
    }

    &:hover::after{
      display: block;
    }
  }
}
